@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using DevExtreme.AspNet.Mvc

<div class="jumbotron">
    <h1 class="display-4">Gestion PetShopApp</h1>
    <p class="lead">Primera aplicación con DevExpress.</p>
    <hr class="my-4">
    <p>Aplicación de prueba para Microshif SAS.</p>
    <a class="btn btn-primary btn-lg" href="https://microshif.com.co/" role="button">Ver Mas</a>
</div>