@page
@model PetShopStore.Pages.MascotasModel
@using DevExtreme.AspNet.Mvc;
@using PetShopCore.Models.DTOs;
@{
    ViewData["Title"] = "Gestion Mascotas";
}

<h2>Gestión de Mascotas</h2>

@(Html.DevExtreme().Form<MascotaConDueñoDto>()
    .ID("formMascotaDueño")
    .FormData(new MascotaConDueñoDto())
    .Items(items =>
    {
        items.AddGroup()
            .Caption("Información del Dueño")
            .Items(groupItems =>
            {
                groupItems.AddSimpleFor(m => m.NombreDueño).Editor(e => e.TextBox());
                groupItems.AddSimpleFor(m => m.Cedula).Editor(e => e.TextBox());
                groupItems.AddSimpleFor(m => m.Telefono).Editor(e => e.TextBox());
                groupItems.AddSimpleFor(m => m.Correo).Editor(e => e.TextBox());
            });

        items.AddGroup()
            .Caption("Información de la Mascota")
            .Items(groupItems =>
            {
                groupItems.AddSimpleFor(m => m.NombreMascota).Editor(e => e.TextBox());
                groupItems.AddSimpleFor(m => m.Especie).Editor(e => e.TextBox());
                groupItems.AddSimpleFor(m => m.Raza).Editor(e => e.TextBox());
                groupItems.AddSimpleFor(m => m.FechaNacimiento).Editor(e => e.DateBox());
            });

        items.AddButton()
            .HorizontalAlignment(HorizontalAlignment.Right)
            .ButtonOptions(b => b.Text("Guardar")
                .Type(ButtonType.Success)
                .UseSubmitBehavior(true)
                .OnClick("guardarMascota")
            );
    })
)
<hr />

@(Html.DevExtreme().DataGrid()
    .ID("gridMascotas")
    .DataSource("/Mascotas?handler=Mascotas")

    .Columns(columns =>
    {
        columns.Add().DataField("Id").Caption("ID").Width(50);
        columns.Add().DataField("Nombre").Caption("Nombre");
        columns.Add().DataField("Especie").Caption("Especie");
        columns.Add().DataField("Raza").Caption("Raza");
        columns.Add().DataField("FechaNacimiento").Caption("Fecha de Nacimiento");
    })
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(true))
    .SearchPanel(s => s.Visible(true))
    .ShowBorders(true)
    .Editing(e => e.Mode(GridEditMode.Popup)
    .AllowAdding(true)
    .AllowUpdating(true)
    .AllowDeleting(true)
    .UseIcons(true))
)

<script src="/js/mascotas.js"></script>